@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.btn {
    padding: 21px 32px 21px 32px;
    /* margin: 32px 0px; */
    margin-top: 32px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background: rgba(82, 195, 3, 0.15);
    color: rgb(16, 16, 16);
}

.btn_card {
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    width: 187px;
    height: 56px;
    border: none;
    color: rgb(16, 16, 16);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0%;
    cursor: pointer;
    margin: 25px 0;
    transition: 0.3s;
}
.btn_card:hover{
    background: rgb(82, 195, 3);
    color: white;
}

#hero {
    height: 919px;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .container {
    width: 1023px;
    text-align: center;
}

#hero .container .subtitle {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    opacity: 0.9;
}

#hero .container .title {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
}

#hero .container .description {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    opacity: 0.7;
}

/* card section style start here */

#card_section {
    margin: 100px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Work Sans;
}

.main_card_div {
    text-align: center;
    width: 1320px;
    height: 810px;
}

#card_section .main_card_div .title_heading .subtitle {
    color: rgb(158, 157, 157);
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    opacity: 0.9;
}

#card_section .main_card_div .title_heading .title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0%;
    margin: 12px;
}

.card_box_container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 50px 0;
}

#card_section .main_card_div .card_box_container .box .img_1 {
    background: url(../assets/pizza.png);
    background-position: center;
    background-size: cover;
    width: 414px;
    height: 283px;
    border-radius: 10px;
}
#card_section .main_card_div .card_box_container .box .img_2 {
    background: url(../assets/biriyani.png);
    background-position: center;
    background-size: cover;
    width: 414px;
    height: 283px;
    border-radius: 10px;
}
#card_section .main_card_div .card_box_container .box .img_3 {
    background: url(../assets/burger.png);
    background-position: center;
    background-size: cover;
    width: 414px;
    height: 283px;
    border-radius: 10px;
}

#card_section .main_card_div .card_box_container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

#card_section .main_card_div .card_box_container .box h2{
    color: rgb(16, 16, 16);
    font-size: 35px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    margin-top: -7px;
}
#card_section .main_card_div .card_box_container .box .box_description{
    color: rgb(16, 16, 16);
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
}